<div class="top-calender">
  <iframe
    src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=Asia%2FTokyo&showPrint=0&showNav=1&showTitle=0&showTabs=1&showCalendars=0&showTz=0&showDate=0&src=YzJiNzY1MzczYTRhOWIyM2IxYTYyM2ZjOGM3Yjg4MGQ5OGU1NTA4NTkxODJlN2E0ZGVhMDczYmUwMDY1MjZmYkBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=amEuamFwYW5lc2UjaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&color=%23009688&color=%234285F4"
    style="border-width:0"
    width="800"
    height="480"
    frameborder="0"
    scrolling="no"></iframe>
</div>

<style lang="scss">
  .top-calender {
    :global(iframe) {
      width: 100%;
      aspect-ratio: 1/2;
    }
  }
</style>
