---
import d from '@/data/project.ts';
const { siteName, siteDescription } = d;
const title = (Astro.props.title && `${Astro.props.title} | `) + siteName;
const description = Astro.props.description || siteDescription;
// const thisUrl = Astro.url || url;
// const ogImgUrl = url + 'og.png';
const googleFont = 'https://fonts.googleapis.com/css2?family=Hina+Mincho&family=Roboto:wght@700&display=swap';
---

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{title}</title>
  <meta name="description" content={description} />

  {
    googleFont && (
      <>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href={googleFont} rel="stylesheet" />
      </>
    )
  }
</head>
